<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachFile">
    <select id="selectListByUID" parameterType="Map" resultType="Map">
    SELECT * 
    FROM CIP_ATTACHFILE 
    WHERE SOURCE_UNIQUE_SEQ = #{SOURCE_UNIQUE_SEQ}
    </select>


    <insert id="insertMulti" parameterType="Map">
    INSERT INTO CIP_ATTACHFILE
    (ATTACHFILE_SEQ, SOURCE_UNIQUE_SEQ, ORGINALFILE_NAME, PHYSICALFILE_NAME
    , REGISTER_SEQ, REGISTRY_DATE, MODIFIER_SEQ, MODIFY_DATE)
    VALUES
    <!-- ('2023.01.26.125052','TEMP_15','files220810.txt','2023_01_26_1245'
    ,'UUID-1111-1111111',sysdate(),'UUID-1111-1111111',sysdate()),
    ('2023.01.26.125052','TEMP_15','files220810.txt','2023_01_26_1245'
    ,'UUID-1111-1111111',sysdate(),'UUID-1111-1111111',sysdate()) -->
    <foreach collection="attachFiles" item="attachfile" open="(" close=")" separator="),(">
<!-- collection은 파라미터 Map으로 받은 이름-attachFiles -->
    #{attachfile.ATTACHFILE_SEQ},#{attachfile.SOURCE_UNIQUE_SEQ},#{attachfile.ORGINALFILE_NAME},#{attachfile.PHYSICALFILE_NAME}
    ,#{attachfile.REGISTER_SEQ},sysdate(),#{attachfile.MODIFIER_SEQ},sysdate()
    </foreach>
    
    </insert>

</mapper>
