<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toySpringboots">

    <select id="selectAllFromUSER" parameterType="Map" resultType="Map">
        SELECT * 
        FROM USER
        <if test="pageScale != null">
        ORDER BY NAME
        LIMIT #{pageBegin}, #{pageScale}
        </if>
    </select>

    <select id="selectByUID" parameterType="Map" resultType="Map">
        SELECT * 
        FROM USER
        WHERE USER_ID = #{USER_ID}
    </select>

    <select id="selectTotal" parameterType="Map" resultType="int">
       SELECT count(*) as cnt 
       FROM USER
    </select>

    <update id="updateByUID" parameterType="Map">
        UPDATE USER 
            SET
            NAME = #{NAME},
            PASSWORD = #{PASSWORD}, 
            PHONE_NUMBER = #{PHONE_NUMBER}, 
            USER_EMAIL = #{USER_EMAIL}, 
            ADDRESS = #{ADDRESS}, 
            ADDRESSADD = #{ADDRESSADD},
            JOIN_DATE = #{JOIN_DATE},
            SURVEYED =
            <choose>
            <when test="SURVEYED != null ">
                'Y'
            </when>
            <otherwise>
                'N'
            </otherwise>
            </choose>            
            WHERE USER_ID = #{USER_ID}
    </update>

    <insert id="insertWithUID" parameterType="Map">
        INSERT INTO USER 
        (NAME,USER_ID,PASSWORD,PHONE_NUMBER,USER_EMAIL,
        ADDRESS,ADDRESSADD,JOIN_DATE)
        VALUE (#{NAME},#{USER_ID},#{PASSWORD},#{PHONE_NUMBER},#{USER_EMAIL},
        #{ADDRESS},#{ADDRESSADD},#{JOIN_DATE})
    </insert>

    <delete id="deleteByUID" parameterType="Map">
        DELETE FROM USER
        WHERE USER_ID = #{USER_ID}
    </delete>

    
</mapper>
